#landingg {
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
}

#heading_how_div {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14em;
}

#heading_how {
    position: relative;
    font-size: 2.6em;
    color: wheat;
    background: rgb(87, 123, 221);
    background: linear-gradient(90deg, rgba(87, 123, 221, 1) 0%, rgba(252, 125, 33, 1) 46%, rgba(252, 125, 33, 1) 60%);

    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.how_to_use {
    max-width: 60vw;
    text-align: center;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    position: relative;
    box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
    block-size: fit-content;
    transition: all;
    transition-duration: 0.5s;
}

.how_to_use::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50px;
    padding: 3px;
    background: linear-gradient(90deg, rgba(87, 123, 221, 1) 0%, rgba(252, 125, 33, 1) 46%, rgba(252, 125, 33, 1) 60%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.text_how_to_uses {
    text-align: left;
    color: wheat;
    font-size: 18px;
    line-height: 32px;
    margin-left: 30px;
    margin-right: 30px;
    block-size: fit-content;
}

.number_color {
    color: rgb(252, 125, 33);
}