<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    hellooooooooooooooooooooooooooooooo
    <p class="message">Already have an account ? <a href="{% url 'login_attempt'%}">Login</a></p>
    <p class="message">Not registered? <a href="{%url 'register_attempt'%}">Create an account</a></p>
</body>
</html>