<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../Image/source/image.css" />
  </head>
  <body>
    <div class="demo-image-container">
      <img class="image-resp" src="./assets/javascript.png" alt="JavaScript" />
    </div>
    <div class="rounded-image-container">
      <img
        class="image-resp border-rad-100"
        src="./assets/Brendan Eich.jpg"
        alt="Brendan Eich"
      />
    </div>
  </body>
</html>
