.google-map__contact {
    border: none;
    outline: none;
    display: block;
    width: 100%;
    height: 559px;
}

.contact-one {
    padding-top: 120px;
    padding-bottom: 120px;

    @media (min-width: 992px) {
        .container {
            max-width: 800px;

            .row {
                margin-left: -10px;
                margin-right: -10px;

                [class*=col-] {
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        }
    }

    &__form {

        textarea,
        .bootstrap-select>.dropdown-toggle,
        input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]) {
            border: none;
            outline: none;
            display: block;
            width: 100%;
            height: 74px;
            border-radius: 4px;
            background-color: var(--thm-gray2);
            padding-left: 30px;
            padding-right: 30px;
            color: #848895;
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 20px;
        }

        textarea {
            height: 194px;
            padding-top: 20px;
        }

        ::placeholder {
            color: #848895;
            opacity: 1;
        }

        .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
            width: 100%;
        }

        .bootstrap-select .dropdown-toggle .filter-option {
            display: flex;
            align-items: center;
        }

        .dropdown-toggle::after {
            display: inline-block;
            margin-left: .255em;
            vertical-align: .255em;
            content: "\f107";
            border: none;
            font-family: 'Font Awesome 5 Pro';
            font-weight: 900;
            font-size: 14px;
            color: #848895;


        }

        .dropup .dropdown-toggle::after {
            content: "\f106";
        }
    }
}


.contact-info-one {
    .inner-container {
        display: flex;
        align-items: center;
        @include thmGradientOne;
        border-radius: 5px;
        overflow: hidden;
        position: relative;
        z-index: 10;
        margin-bottom: -60px;
    }

    &__icon {
        i {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 155px;
            @include thmGradientOne;
            height: 164px;
            color: #fff;
            font-size: 64px;
        }
    }

    &__content {
        display: flex;
        align-items: center;
        padding-left: 80px;
        padding-right: 80px;
    }

    &__box {
        position: relative;
        h3 {
            font-size: 16px;
            font-weight: 500;
            color: #fff;
            font-family: var(--thm-font);
            line-height: 1em;
            margin-bottom: 6px;
        }
        p {
            font-family: var(--heading-font);
            font-size: 30px;
            color: #fff;
            font-weight: bold;
            margin: 0;
            line-height: 1em;
            a {
                color: inherit;
                transition: 500ms;
                &:hover {
                    color: var(--thm-primary);
                }
            }
        }
        &-inner {
            padding-top: 16.5px;
            padding-bottom: 16.5px;
        }
        &:not(:last-of-type) {
            padding-right: 80px;
            margin-right: 80px;
            &::after {
                content: '';
                width: 1px;
                height: 100%;
                background-color: rgba(#ffffff, .2);
                display: block;
                position: absolute;
                top: 0;
                left: 100%;
            }
        }
    }
}