
.side-menu__block {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 1000;
	-webkit-transform: scale(0, 1);
	transform: scale(0, 1);
	-webkit-transform-origin: left center;
	transform-origin: left center;
	-webkit-transition: -webkit-transform .7s ease;
	transition: -webkit-transform .7s ease;
	transition: transform .7s ease;
	transition: transform .7s ease, -webkit-transform .7s ease;
}

.side-menu__block.active {
	-webkit-transform: scale(1, 1);
	transform: scale(1, 1);
}

.side-menu__block-overlay {
	width: 100%;
	height: 100%;
	background-color: var(--thm-black);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
	opacity: .7;
}

.side-menu__block-overlay .cursor-follower {
	background-color: rgba(255, 255, 255, 0.3);
}

.side-menu__block-inner {
	position: relative;
	max-width: 532px;
	width: 100%;
	margin-right: auto;
	height: 100vh;
	background-color: #f3f5f9;
	z-index: 999999;
	overflow-y: auto;
	padding: 40px 0;
	padding-top: 20px;
	position: relative;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	align-content: space-between;
}

@media(max-width: 575px) {
	.side-menu__block-inner {
		max-width: 480px;
	}
}

@media(max-width: 480px) {
	.side-menu__block-inner {
		max-width: 400px;
	}
}

@media(max-width: 375px) {
	.side-menu__block-inner {
		max-width: 300px;
	}
}

.side-menu__block-inner .mCustomScrollBox {
	width: 100%;
}

.side-menu__top {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	justify-content: space-between;
	padding-left: 100px;
	padding-right: 40px;
}

.mobile-nav__container {
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 50px;
}



.mobile-nav__container ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.mobile-nav__container li.dropdown ul {
	display: none;
	padding-left: 0.5em;
}

.mobile-nav__container li.dropdown {
	position: relative;
}

.mobile-nav__container li.dropdown .dropdown-btn {
	border: none;
	outline: none;
	background-color: transparent;
	color: #9ca3a9;
	font-size: 14px;
	padding-left: 10px;
	padding-right: 10px;
	width: auto;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transition: transfrom 500ms ease;
	transition: transfrom 500ms ease;
}

.mobile-nav__container li.dropdown .dropdown-btn.open {
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.mobile-nav__container li+li {
	margin-top: 5px;
}

.mobile-nav__container li a {
	
	display: block;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
	position: relative;
	font-size: 17px;
	
	color: var(--thm-black);
}

.mobile-nav__container li a:hover {
	color: var(--thm-base);
}

.mobile-nav__container li.current-menu-item>a,
.mobile-nav__container li.current>a {
	color: var(--thm-base);
}



.side-menu__social {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	margin-top: 80px;
    margin-bottom: 40px;

        a {
            width: 44px;
            height: 44px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-size: 16px;
            @include thmGradientOne;
            position: relative;

            &::before {
                position: relative;
                z-index: 10;
            }

            &::after {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 50%;
                transform: scale(0);
                transition: 500ms;
                @include thmGradientTwo;
            }

            &:hover {
                &::after {
                    transform: scale(1);
                }
            }

            +a {
                margin-left: 10px;
            }
        }

}

.side-menu__content {
	padding-left: 100px;
	padding-right: 100px;
}

.side-menu__content p {
	margin: 0;
	font-size: 16px;
	line-height: 34px;
}

.side-menu__content p+p {
	margin-top: 30px;
}

.side-menu__content p a {
	color: var(--thm-base);
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
}

.side-menu__content p a:hover {
	color: var(--thm-base);
}

.side-menu__sep {
	width: calc(100% - 200px);
	margin-left: auto;
	margin-right: auto;
	height: 1px;
	background-color: #e6e9f2;
	margin-top: 70px;
	margin-bottom: 70px;
}

.side-menu__text p {
	font-size: 14px;
	line-height: 32px;
	color: #7c7d8a;
	margin: 0;
	margin-bottom: 25px;
}


.side-menu__text a {
	color: var(--thm-base);
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
}

.side-menu__text a:hover {
	color: var(--thm-black);
}

.side-menu__block__copy {
	font-size: 16px;
	font-weight: 500;
	color: #7c7d8a;
	margin: 0;
}


@media(max-width: 575px) {

	.side-menu__top,
	.side-menu__content,
	.mobile-nav__container {
		padding-left: 50px;
		padding-right: 50px;
	}

	.side-menu__sep {
		margin-top: 40px;
		margin-bottom: 40px;
		width: calc(100% - 100px);
	}
}

@media(max-width: 480px) {

	.side-menu__top,
	.side-menu__content,
	.mobile-nav__container {
		padding-left: 25px;
		padding-right: 25px;
	}

	.side-menu__sep {
		width: calc(100% - 50px);
	}

	.side-menu__social {
		margin-top: 40px;
	}

	.side-menu__social a {
		width: 45px;
		height: 45px;
	}
}

