.progress-one {
    padding-bottom: 120px;
    position: relative;

    &__virus {
        bottom: 8%;
        left: 5%;
        -webkit-animation-duration: 12s;
        animation-duration: 12s;
        -webkit-perspective: 85px;
        perspective: 85px;
        -webkit-animation-name: bubbleMover;
        animation-name: bubbleMover;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        position: absolute;
    }

    .container {
        position: relative;
    }

    .block-title {
        margin-bottom: 25px;
    }

    &__block {
        >p {
            margin: 0;
        }
    }

    &__box+&__box {
        margin-top: 20px;
    }

    &__box {
        width: 100%;
        height: 42px;
        border-radius: 21px;
        overflow: hidden;
        background-color: #f3f5f9;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 30px;
        padding-right: 30px;

        >span {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            border-radius: 21px;
            @include thmGradientOne;
        }

        h3 {
            margin: 0;
            position: relative;
            z-index: 10;
            font-size: 24px;
            font-weight: bold;
            color: #fff;
        }

        p {
            position: relative;
            z-index: 10;
            margin: 0;
            line-height: 1em;
            font-size: 16px;
            font-weight: 600;
            color: #848895;
        }
    }
}