.testimonials-one {
    position: relative;
    z-index: 10;
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #f3f5f9;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url(../images/background/blog-bg-1-1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        opacity: 0.05;
    }

    .container {
        position: relative;
        overflow: hidden;
    }

    .owl-stage-outer {
        overflow: visible;
    }

    .owl-carousel .owl-item {
        opacity: 0;
        transition: 500ms;
        visibility: hidden;
    }

    .owl-carousel .owl-item.active {
        opacity: 1;
        visibility: visible;
    }

    .owl-carousel .owl-item img {
        width: auto;
    }

    .block-title {
        margin-bottom: 30px;
    }

    &__image {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        float: right;
        z-index: 20;

        >img {
            border-radius: 50%;
            max-width: 100%;
            display: block;
        }

        &-block {
            position: relative;
        }
    }

    &__qoute {
        border: 20px solid #f3f5f9;
        width: 115px;
        height: 115px;
        @include thmGradientTwo();
        border-radius: 50%;
        text-align: center;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__content {
        padding-left: 50px;
    }

    &__text {
        margin: 0;
        font-size: 20px;
        line-height: 44px;
        color: #848895;
    }

    &__bottom {
        display: flex;
        align-items: baseline;
        margin-top: 30px;
    }

    &__title {
        margin: 0;
        font-size: 30px;
        font-weight: bold;
        color: var(--thm-black);
    }
}

.testimonials-one__button-block {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 99;
}

[class*=testimonials-one__button__] {
    width: 92px;
    height: 92px;
    background-color: var(--thm-black);
    border-radius: 50%;
    border: none;
    outline: none !important;
    background-position: center center;
    background-size: 100% 100%;
    cursor: pointer;
}

[class*=testimonials-one__button__]+[class*=testimonials-one__button__] {
    margin-top: 10px;
}

.testimonials-one__button__prev-btn,
.testimonials-one__button__next-btn {
    position: relative;
    overflow: hidden;

    &:before {
        content: '\e905';
        font-family: 'vimns-icons';
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(90deg);
        z-index: 100;
        font-size: 24px;
    }

    &:after {
        content: '';
        @include thmGradientOne();
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: .7;
    }
}

.testimonials-one__button__next-btn:before {
    content: '\e909';
    transform: translate(-50%, -50%) rotate(90deg);
}