:root {
    --thm-font: 'Barlow', sans-serif;
    --heading-font: 'Amatic SC';
    --thm-base: #0c75d8;
    --thm-base-rgb: 12, 117, 216;
    --thm-primary: #ffd240;
    --thm-primary-rgb: 255, 210, 64;
    --thm-black: #0a1c4f;
    --thm-black-rgb: 10, 28, 79;
    --thm-gray: #f3f5f9;
    --thm-gray2: #f2f4f8;
    --thm-text: #848895;
}