:root{
    --base: #00ff00;
    --spacing: 10px;
    --blur: 10px;
    
}

img{
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));

}

.h1{
    background: var(--base);
}

.inputa{
    width: 100px;
}