*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container h1{
    margin: 6% 0% 0% 0%;
    color: gray;
    font-size: 90px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.container .buttons{
    margin: 5% 0%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container .btn{
    text-decoration: none;
    border-radius: 10px;
    padding: 20px 0px;
    color: white;
    margin: 10px;
    font-size: 30px;
    height: 60%;
    width: 60%;
    background-color: blue;
}