doctype html
html
  head
    title My Site - #{title}
    block scripts
    block style
  body
    block content
    footer#footer 
        | Copyright 2019 DivyaAcademy.com | All Right Reserved