.inputOption {
  display: flex;
  align-items: center;
  margin: 15px;
  color: gray;
  padding: 10px;
  cursor: pointer;
  flex-direction: column;
}

.inputOption:hover {
  background-color: whitesmoke;
  border-radius: 10px;
}

.inputOption > h4 {
    margin-left: 5px;
}
