@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
:root {
    --main-bg-color: #2874f0;
}

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--main-bg-color);
    font-family: 'Roboto Condensed', sans-serif;
}

nav {
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 88px;
    padding: 0 25px;
}
.logo img:hover{
    cursor: pointer;
}

nav ul {
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul li {
    list-style-type: none;
    padding: 0 23px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    font-weight: bold;
}
.search{
    display:flex;
    align-items: center;
    
}
.search input{
    width: 30vw;
    height: 27px;
    border-radius: 5px;
    margin: 0 16px 0 56px;
    padding:0 12px;
}
.search button{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600px;
}
.slider{ 
    width: 80vw;
    margin: 12px auto;
    overflow: hidden;
}

.card{
    max-width: 91vw;
    margin:37px auto;
    font-family:'ubnutu', sans-serif ;
}
.cards{
    display: flex;
    overflow: scroll;
}
.card-item{
    display:inline-flex;
    justify-content: center;
    flex-direction: column; 
    margin: 0 15px;
}
.card h2{
    font-family: 'Lato', sans-serif;
}

.container {
    min-height: calc(100vh - 58px - 12vh);
}

footer {
    height: 12vh;
    background-color: var(--main-bg-color);
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}