body {
  text-align: center;
  background-color: #75cfb8;
}

h1 {
  font-size: 6rem;
  color: #f6f5f5;
  font-family: "Arvo", cursive;
  text-shadow: 6px 0 #da0463;
}

footer {
  color: #f6f5f5;
  font-size: 3rem;
  font-family: "Arvo", cursive;
  font-weight: bold;
  text-shadow: 3px 0 #da0463;
}

.w {
  background-image: url("images/tom1.png");
}

.a {
  background-image: url("images/tom2.png");
}

.s {
  background-image: url("images/tom3.png");
}

.d {
  background-image: url("images/tom4.png");
}

.j {
  background-image: url("images/snare.png");
}

.k {
  background-image: url("images/crash.png");
}

.l {
  background-image: url("images/kick.png");
}

.set {
  margin: 10% auto;
}

.pressed {
  box-shadow: 0 3px 4px 0 #f0e5d8;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #f0e5d8;
  font-size: 5rem;
  font-family: "Arvo", cursive;
  line-height: 2;
  font-weight: 900;
  color: #da0463;
  text-shadow: 8px 0 #f6f5f5;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
