@import "../../common/colors.scss";

.header {
    background-color: $secondary-color;
    height: 72px;
    padding:  0px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: $font-primary;
    font-size: 20px;
    font-weight: 600;
}

.user-image,
.user-image img {
    width: 38px;
    height: 38px;
}