.navbar{
    display: flex;
    flex-direction: row;
}
.logo img{
    position: relative;
    width: 90px;
    height: 40px;
    left: -17px;
    top: 15px;
}
.logo{
    display: flex;
    width: 100px;
    flex-direction: row;
}
.logo h2{
    position: absolute;
    top: 18px;
    left: 48px;
    font-weight: 10000;
    color: white;
}

.links{
    color: white;
    margin-left: 27vw;
}
.links ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}
.links li{
    font-size: 20px;
    padding-left: 30px;
    margin-top: 20px;
    font-weight: 1000;
}

.search-bar{
    width: 100px;
    /* position: absolute; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 35px;
    top: 10px;
    color: white;
    font-size: 23px;
}

.cast{
    margin-left: 19vw;
    margin-top: 20px;
    font-size: 24px;
    color: white;
    font-weight: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 12vw;
    height: 3vh;
}
.cast strong{
    margin-top: -5px;
    font-size: 13px;
    width: 52px;
    background: white;
    color: black;
    font-family: sans-serif;
    height: 10px;
    border: 13px solid white;
    border-radius: 2px;
}

.center{
    display: flex;
    flex-direction: row;
}