.App_dark {
  height: 100vh;
  padding: 30px 20px;
  color: white;
  background: rgb(2, 1, 24);
}

.App_light {
  height: 100vh;
  padding: 30px 20px;
  color: rgb(0, 0, 0);
  background: #BDBDBD;
}

.Loading {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
