:root{
    --primary-color:#3a4052;

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;

}
a{
    text-decoration: none;
    color: var(--primary-color);

}

h1{
    font-weight: 300;
    font-size: 60px;
    line-height: 1.2;
    margin-bottom: 15px;
}
.showcase{
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
    color: #fff;

}
.video-container{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: var(--primary-color) url('buildings-6497337_1920.jpg') no-repeat center center/cover;
    
}
.video-container{
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);

}
.video-container:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}
.content{
    z-index: 10;
}

.btn{
    display: inline-block;
    padding: 10px 30px;
    background: var(--primary-color);
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-top: 25px;
    opacity: 0.7;
}

.btn:hover{
    transform: scale(0.98);
    cursor: pointer;
}
#about{
    padding: 40px;
    text-align: center;
}
#about > p{
    font-size: 1.2rem;
    max-width: 600px;
    margin: auto;
}
#about > h2{
    margin: 30px 0;
    color: var(--primary-color);
}

.social > a {
    margin: 0 5px;

}