* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-image: url(./assets/13190.webp);
  background-size:cover;
  background-position:center center;
  background-attachment:fixed;
  box-sizing: border-box;
}
