body
{
	background:#eee;
}
.container
{
	margin-top:70px;
}
.my-container
{
	background:#FFF;
	border:1px solid #ddd;
	border-radius:4px;
}
.navbar-btn
{
	margin-right:10px;
}
/*--------------------Sign in--------------------------*/
.signin
{
	width:400px;
	text-align:center;
}
.img-thumbnail
{
	margin:0 auto;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/*--------------------inner pages-------------------------*/
.input-group
{
	width:100%;
}
.input-group-addon.right
{
	width:30px;
}
.form-control.right
{
	text-align:right;
}
.form-inline{
	margin-bottom:20px;
}
#profilePhotoIn
{
	margin:54px 0 0 10px;
}
#profilePhotoBtn
{
	margin:10px 0 0 10px;
}
/*#profilePhoto
{
	opacity:0;
}
*/
.nav-tabs li.active
{
	font-weight:bold;
}
.tab-content
{
	background:#FFF;
	border:none;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;
	border-radius:0 0 4px 4px;
}
.tab-pane>.btn
{
	margin:10px;
}

#skills
{
	padding:20px;
}

.btnNewProject
{
	margin-top:20px;
}
.img-thumbnail
{
	width:120px;
}