.sidebar {
  top: 80px;
  position: sticky;
  flex: 0.2;
  border-radius: 10px;
  text-align: center;
  height: fit-content;
}

.sidebar__avatar {
  margin-bottom: 10px;
}

.sidebar__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgrey;
  border-bottom: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #fff;
  padding-bottom: 10px;
  overflow: hidden;
}

.sidebar__top > h4 {
  color: gray;
  font-size: 12px;
}

.sidebar__top > h2 {
  font-size: 18px;
}

.sidebar__top > img {
  margin-bottom: -20px;
  object-fit: cover;
  width: 100%;
  height: 80px;
}

.sidebar__stats {
  padding: 10px;
  margin-bottom: 10px;
  background: #fff;
  border: 1px solid lightgrey;
  border-radius: 0 0 10px 10px;
}

.sidebar__stat {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.sidebar__stat > p {
  color: gray;
  font-size: 13px;
  font-weight: 600;
}

.sidebar__statNumber {
  font-weight: bold;
  color: #0a66c2 !important;
}

.sidebar__bottom {
  text-align: left;
  padding: 10px;
  border: 1px solid lightgrey;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 10px;
}

.sidebar__recentItem {
  display: flex;
  font-size: 13px;
  color: gray;
  font-weight: bolder;
  cursor: pointer;
  margin-bottom: 5px;
  padding: 5px;
}

.sidebar__recentItem:hover {
  background-color: whitesmoke;
  border-radius: 10px;
  cursor: pointer;
  color: black;
}

.sidebar__hash {
  margin: 0 10px;
}

.sidebar__bottom > p {
  font-size: 13px;
  padding-bottom: 10px;
}
