<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./source/navigation.css" />
    <script
      src="https://kit.fontawesome.com/6f74bb313d.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav class="nav-bar">
      <button class="btn pc-tab-display-none" id="btn-nav-toggle">
        <i class="fas fa-bars"></i>
      </button>
      <ul class="flex-gap-mdm">
        <li class="nav-image-container">
          <img
            class="image-resp border-rad-20"
            src="/assets/prefix (1).png"
            alt="logo"
          />
        </li>
        <li>
          <input
            type="search"
            name=""
            class="form-input fluid-width"
            placeholder="Search"
            id=""
          />
        </li>
      </ul>
      <ul class="flex-spc-btwn mob-display-none">
        <li><a href="#" class="cta-text-hover">Explore</a></li>
        <li><a href="#" class="cta-text-hover">Pricing</a></li>
        <li><a href="#" class="cta-text-hover">Partners</a></li>
      </ul>
      <ul class="flex-spc-btwn">
        <li>
          <a href="#" class="icon-wrapper icon-wrapper-sml mob-display-none"
            ><i class="fas fa-bell"></i
            ><span class="badge badge-notification"></span
          ></a>
        </li>
        <li>
          <a class="btn-icon alert-text"
            ><i class="fas fa-shopping-cart"></i
          ></a>
        </li>
        <li class="mob-display-none">
          <img
            src="../Components/Avatar-Badge/assets/dan-abramov.jpg"
            class="avatar avatar-xsml"
            alt="Dan Abramov"
          />
        </li>
      </ul>
    </nav>
  </body>

  <script src="./source/main.js"></script>
</html>
