body{
	margin: 0;
	padding: 0;
	background-color: #222f3e;
}
button{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: 10px;
	background-color: #fff;
	border:none;
	outline: none;
	font-size: 16px;
	text-transform: uppercase;
	cursor: pointer;
}
