@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
:root {
  --primary: #47185c;
  --primary-dark: #14001d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--primary);
}

.container {
  display: grid;
  place-items: center;
  height: 100vh;
}

.box {
  padding: 20px;
  width: 400px;
  background-color: white;
}
.upper h1 {
  font-size: 32px;
  font-weight: 400;
  line-height: 32px;
}

.upper,
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form {
  margin-top: 10px;
  gap: 10px;
}

form input {
  width: 100%;
  height: 40px;
  padding: 10px 15px;
}
form input:focus-visible {
  border: 1px solid var(--primary);
  outline: 1px solid var(--primary);
}
form button {
  width: 100%;
  height: 40px;
  padding: 10px 15px;
  background-color: var(--primary);
  border: none;
  color: white;
  opacity: 0.9;
  transition: 0.3s ease-in;
}
form button:hover {
  opacity: 1;
  transition: 0.3s ease-in;
}
form button:active {
  background-color: var(--primary-dark);
}

.qr_container {
  border: 1px solid var(--primary);
  display: flex;
  justify-content: center;

  height: 0;
  opacity: 0;

  transition: opacity 0.3s ease-in, height 0.1s ease;
}
.qr_container.show {
  padding: 10px;
  height: 200px;
  opacity: 1;

  transition: opacity 0.3s ease-in, height 0.1s ease;
}
.qr_container img {
  height: 100%;
}

@media (max-width: 500px) {
  .box {
    width: 95%;
  }
  .box h1 {
    font-size: 24px;
  }
  .upper p {
    font-size: 14px;
  }
}