body{
   background-color:orange;
}
#road{
    border-bottom:7px solid gray;
}
#runner{
    background:url("./panda_color.png");
    width: 250px;
    height: 330px;
    animation: walk 2s steps(12) infinite,
               forward 6s linear infinite;
}
@keyframes walk{
    0%{
        background-position: 2px;
    }
    100%{
        background-position: 3000px;
    }
}
@keyframes forward{
    0%{
        transform: translateX(-100px);
    }
    100%{
        transform: translateX(1200px);
    }
}
