.main-card {
    width: 50%;
    padding: 10px;
    background-color: rgb(54, 53, 53);
    height: 50%;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    background-color: rgb(97, 97, 97);
    height: 100vh;
}

.quote-box {
    height: 100%;
}

.card-title {
    color: orange;
}

#quote-content {
    color: coral;
    text-align: center;
}

.qt {
    width: 200px;
    height: 100px;
}

.tp-block {
    width: 100%;
    height: 150px;
    padding: 5px;
}

.incorrect {
    color: crimson;
    /* text-decoration: underline; */
}

.correct {
    color: rgba(138, 255, 22, 0.76);
}

.for-space{
    background-color: crimson;
    margin-top: 20px;
    height: 1px;
}