* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: grid;
    place-items: center;
    margin-top: 5rem;
    position: relative;
  }
  
  h1 {
    width: 90%;
    position:relative;
    top: -3.5rem;
    font-size: 1.5rem;
    text-align: center;
    font-family: sans-serif;
    color: #083AA9;
  }
  
  #inputFile {
    padding: 0.4rem;
    font-size: 1rem;
    margin-top: 0rem;
    border: 2px solid #905E96;
    outline: none;
    border-radius: 5px;
  }
  
  .container {
    width: 90%;
    min-height: 20rem;
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 2px solid #905E96;
    border-radius: 5px;
  }
  
  .btnScr {
    width: 6.5rem;
    background: #5F9DF7;
    color: #fff;
    padding: 0.3rem;
    border: 2px solid #905E96;
    outline: none;
    border-radius: 9px;
    margin-top: 0.6rem;
    cursor: pointer;
    transition: all 0.2s ease-in;
  }
  
  .btnScr:hover {
    transition: all 0.2s ease-in;
    transform: translateY(-1px);
    box-shadow: 2px 2px 15px 1px #888888;
  }
  
  .que {
    height: 4rem;
    display: flex;
    flex-direction: column;
    position: relative;
    color: #002E94;
    margin: 0 0.25rem 0.25rem 0.25rem;
  }
  
  .box {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #FFD384;
    border-radius: 5px;
  }
  
  .btnS {
    width: 1rem;
    color: gray;
    position: absolute;
    top: 0rem;
    right: 0.3rem;
    background: transparent;
    color: #002E94;
    border: none;
    outline: none;
    cursor: pointer;
    transition: transform 0.2s ease-in;
  }
  
  .btnS:hover {
    transition: transform 0.2s ease-in;
    transform: scale(1.1);
  }
