@import url("../../../global.css");

.heading-lrg {
  font-size: 3rem;
  font-weight: 600;
}
.heading-mdm {
  font-size: 2.5rem;
  font-weight: 600;
}

.heading-sml {
  font-size: 2rem;
  font-weight: 550;
}

.grey-text-color {
  color: var(--grey-text-color);
}
