html {
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    color: #4e4d4d;
}

body {
    background: rgb(27, 37, 63);
}

main {
    max-width: 500px;
    margin: 2rem auto;
    padding: 3rem 1.6rem 6rem 1.6rem;
    background: linear-gradient(30deg, #3dc0c0, #5bceae);
    border-radius: 4rem;
    box-shadow: 0 2px 2px lightgray;
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin: 0;
    padding-bottom: 3rem;
}

section {
    background-color: white;
    font-size: 1.8rem;
    margin-bottom: 1.6rem;
    padding: 0 1.6rem;
    border-radius: 1rem;
    box-shadow: inset 0 2px 2px lightgray;
}

section>div {
    padding: 1.6rem 0;
}

.bill {
    display: flex;
}

.bill label {
    flex: 1;
    align-self: center;
}

.bill input {
    flex: 3;
}

input[type="number"] {
    font-family: inherit;
    background: #f4f4f5;
    font-size: 1.6rem;
    border: 1px solid lightgray;
    border-radius: 0.5rem;
    padding: 0.8rem 0 0.8rem 1rem;
    box-shadow: inset 0 2px 2px lightgray;
}

#yourbill {
    width: 250px;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.total {
    font-size: 2rem;
    font-weight: bolder;
}

.range {
    width: 100%;
    height: 8px;
    margin-top: 1.2rem;
    background: #eee;
    border-radius: 0.3rem;
    outline-color: #5bceae;
}

.range::-webkit-slider-thumb {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    background: #3dc0c0;
    cursor: pointer;
}

.range::-moz-range-thumb {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    background: #3dc0c0;
    cursor: pointer;
    border: 0;
}

.range::-moz-focus-outer {
    border: 0;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: White;
    font-size: 1.5rem;
}

a {
    color: yellow;
    margin-left: 5px;
    text-decoration: none;
}