<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <link rel="stylesheet" href="./source/text-utils.css" />
  <body>
    <div class="heading-lrg">Heading Text</div>
    <div class="heading-mdm">Heading Text</div>
    <div class="heading-sml">Heading Text</div>
    <div class="fs-sml">small text</div>
    <div class="fs-xsml">extra small text</div>
    <div class="grey-text-color">Grey Text Color</div>
    <div class="text-align-center">Centered Text Color</div>
  </body>
</html>
