<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../global.css" />
  </head>
  <body class="grid-center">
    <h4 class="fs-lrg">Grid</h4>
    <h4 class="fs-mdm">Equally distributed</h4>
    <div class="demo-grid-container">
      <div class="grid-col-2--50-50 curved-border padding-sml">
        <div class="card-container curved-border flex-column">
          <div class="image-container">
            <img
              class="image-resp curved-border-top"
              src="../Card/assets/quincyLarson.jpg"
              alt="Quincy Larson"
            />
            <div class="overlay-wrapper curved-border-top fs-lrg">
              <a href="#" class="btn-icon-outlined"
                ><i class="fas fa-play"></i
              ></a>
            </div>
          </div>
          <div class="text-align-center">
            <h2 class="headline-typography">Getting Started With CSS</h2>
            <h3 class="card-subtitle">By Quincy Larson</h3>
            <div class="rating">
              <span class="rating-positive"><i class="fas fa-star"></i></span
              ><span class="rating-positive"><i class="fas fa-star"></i></span
              ><span class="rating-positive"><i class="fas fa-star"></i></span
              ><span class="rating-positive"><i class="fas fa-star"></i></span
              ><span><i class="fas fa-star"></i></span
              ><span class="fs-sml card-subtitle">4.0(300)</span>
            </div>
            <div class="flex-spc-btwn">
              <button class="btn btn-cta light-text-color">Enroll</button>
              <button class="btn btn-outlined">About</button>
            </div>
          </div>
          <div class="flex-spc-btwn curved-border-bottom">
            <button>
              <span class="btn-icon-outlined"
                ><i class="fas fa-heart"></i
              ></span>
            </button>
            <button>
              <span class="btn-icon-outlined"
                ><i class="fas fa-bookmark"></i
              ></span>
            </button>
            <button>
              <span class="btn-icon-outlined"
                ><i class="fas fa-share"></i
              ></span>
            </button>
          </div>
        </div>
        <div class="card-container curved-border flex-column">
          <div class="image-container">
            <img
              class="image-resp curved-border-top"
              src="../Card/assets/quincyLarson.jpg"
              alt="Quincy Larson"
            />
            <div class="overlay-wrapper curved-border-top fs-lrg">
              <a href="#" class="btn-icon-outlined"
                ><i class="fas fa-play"></i
              ></a>
            </div>
          </div>
          <div class="text-align-center">
            <h2 class="headline-typography">Getting Started With CSS</h2>
            <h3 class="card-subtitle">By Quincy Larson</h3>
            <div class="rating">
              <span class="rating-positive"><i class="fas fa-star"></i></span
              ><span class="rating-positive"><i class="fas fa-star"></i></span
              ><span class="rating-positive"><i class="fas fa-star"></i></span
              ><span class="rating-positive"><i class="fas fa-star"></i></span
              ><span><i class="fas fa-star"></i></span
              ><span class="fs-sml card-subtitle">4.0(300)</span>
            </div>
            <div class="flex-spc-btwn">
              <button class="btn btn-cta light-text-color">Enroll</button>
              <button class="btn btn-outlined">About</button>
            </div>
          </div>
          <div class="flex-spc-btwn curved-border-bottom">
            <button>
              <span class="btn-icon-outlined"
                ><i class="fas fa-heart"></i
              ></span>
            </button>
            <button>
              <span class="btn-icon-outlined"
                ><i class="fas fa-bookmark"></i
              ></span>
            </button>
            <button>
              <span class="btn-icon-outlined"
                ><i class="fas fa-share"></i
              ></span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <h4>20:80 Grid</h4>
    <div class="demo-grid-container">
      <div class="grid-col-2--20-80 curved-border">
        <img
          src="https://previews.123rf.com/images/kytalpa/kytalpa1603/kytalpa160300009/53926876-dibujado-a-mano-dise%C3%B1os-de-p%C3%A1gina-web-dise%C3%B1o-de-estilo-de-dibujo.jpg"
          class="image-resp"
          alt="css-image"
        />
        <div class="margin-sml demo-grid-content padding-sml">
          <h4 class="fs-mdm">About the course</h4>
          <p>
            This course will teach you how to bring high-quality Figma designs
            to life in the browser. You will learn how to create a space travel
            website from scratch. In this course, you’ll test your HTML, CSS and
            JavaScript skills by building out a responsive, multi-page site
            featuring a homepage, buttons, a navigation bar, tabs, keyboard
            navigation and underline, dot and number indicators.
          </p>
        </div>
      </div>
    </div>
    <h4>3 Column grid</h4>
    <h4>Equal Grid</h4>
    <div class="demo-grid-container">
      <div class="grid-col-3--33-33-33 curved-border">
        <img
          src="https://previews.123rf.com/images/kytalpa/kytalpa1603/kytalpa160300009/53926876-dibujado-a-mano-dise%C3%B1os-de-p%C3%A1gina-web-dise%C3%B1o-de-estilo-de-dibujo.jpg"
          class="image-resp"
          alt="css-image"
        />
        <div class="margin-sml demo-grid-content padding-sml">
          <h4 class="fs-mdm">About the course</h4>
          <p>
            This course will teach you how to bring high-quality Figma designs
            to life in the browser. You will learn how to create a space travel
            website from scratch. In this course, you’ll test your HTML, CSS and
            JavaScript skills by building out a responsive, multi-page site
            featuring a homepage, buttons, a navigation bar, tabs, keyboard
            navigation and underline, dot and number indicators.
          </p>
        </div>
        <div class="margin-sml demo-grid-content padding-sml">
          <h4 class="fs-mdm">Perquisites</h4>
          <p>Zeal to learn</p>
        </div>
      </div>
    </div>

    <h4>20:40:40 Grid</h4>
    <div class="demo-grid-container">
      <div class="grid-col-3--20-40-40 curved-border">
        <img
          src="https://previews.123rf.com/images/kytalpa/kytalpa1603/kytalpa160300009/53926876-dibujado-a-mano-dise%C3%B1os-de-p%C3%A1gina-web-dise%C3%B1o-de-estilo-de-dibujo.jpg"
          class="image-resp"
          alt="css-image"
        />
        <div class="margin-sml demo-grid-content padding-sml">
          <h4 class="fs-mdm">About the course</h4>
          <p>
            This course will teach you how to bring high-quality Figma designs
            to life in the browser. You will learn how to create a space travel
            website from scratch. In this course, you’ll test your HTML, CSS and
            JavaScript skills by building out a responsive, multi-page site
            featuring a homepage, buttons, a navigation bar, tabs, keyboard
            navigation and underline, dot and number indicators.
          </p>
        </div>
        <div class="margin-sml demo-grid-content padding-sml">
          <h4 class="fs-mdm">Perquisites</h4>
          <p>Zeal to learn</p>
        </div>
      </div>
    </div>
  </body>
</html>
