<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>VIEW ALL EMOLOYEE
    </title>
  </head>
  <body>
    <div class="container">
        <h1> OFFICE EMPLOYEE MANAGEMENT SYSTEM</h1>
        <table class="table table-hover table-dark">
            <thead>
              <tr>
                <th scope="col">S.No.</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Salary</th>
                <th scope="col">Bonus</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Role</th>
                <th scope="col">Department</th>
                <th scope="col">Location</th>
                <th scope="col">Hiredate</th>

              </tr>
            </thead>
            {% for emp in emps %}
            <tbody>
              <tr>
                {% comment %} <th scope="row">{{emp.id}}</th> {% endcomment %}
                <td>{{forloop.counter}}</td>
                <td>{{emp.first_name}}</td>
                <td>{{emp.last_name}}</td>
                <td>{{emp.salary}}</td>
                <td>{{emp.bonus}}</td>
                <td>{{emp.phone}}</td>
                <td>{{emp.role.name}}</td>
                <td>{{emp.dept.name}}</td>
                <td>{{emp.dept.location}}</td>
                <td>{{emp.hire_date}}</td>
              </tr>
            </tbody>
            {% endfor %}

          </table>
      </div>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
</body>
</html>