
#page {
  text-align: left;
  max-width: 600px;
  margin: 0 auto;
}
h1 {
  font-size: 26px;
  font-weight: normal;
  text-align: center;
}
label {
  font-size: 16px;
}
label i {
  font-style: normal;
  display: inline-block;
  text-align: right;
  width: 100px;
}
label textarea {
  vertical-align: top;
}
button {
  margin-left: 105px;
  padding: 5px;
  margin-top: 5px;
  font-size: 16px;
}
input,
textarea {
  width: 400px;
  font-size: 16px;
  font-family: courier, "courier new", monospace;
  margin: 0 0 5px 0;
  padding: 5px;
  border: 1px solid #eee;
}
select {
  margin: 0 0 5px 0;
}
@media (min-width: 300px) and (max-width: 768px) {
  input,
  textarea {
    width: 100%;
  }
  label i {
    display: block;
    width: auto;
    text-align: left;
  }
  button {
    display: block;
    margin: 0;
  }
}
