<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./source/card.css" />
    <script
      src="https://kit.fontawesome.com/6f74bb313d.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="preview-grid-wrapper">
    <div class="card-container curved-border">
      <div class="card-showcase curved-border">
        <div class="image-container">
          <img
            class="image-resp curved-border-top"
            src="./assets/quincyLarson.jpg"
            alt="Quincy Larson"
          />
          <div class="overlay-wrapper curved-border-top fs-lrg">
            <a href="#" class="btn-icon-outlined"
              ><i class="fas fa-play"></i
            ></a>
          </div>
        </div>
        <div class="fi-btn-container flex-spc-arnd curved-border-bottom">
          <button>
            <span class="btn-icon-outlined"><i class="fas fa-heart"></i></span>
          </button>
          <button>
            <span class="btn-icon-outlined"
              ><i class="fas fa-bookmark"></i
            ></span>
          </button>
          <button>
            <span class="btn-icon-outlined"><i class="fas fa-share"></i></span>
          </button>
        </div>
      </div>
      <div class="card-content">
        <h2 class="headline-typography heading-text-decoration">
          Getting Started With CSS
        </h2>
        <h3 class="card-subtitle">By Quincy Larson</h3>
        <div class="rating">
          <span class="rating-positive"><i class="fas fa-star"></i></span
          ><span class="rating-positive"><i class="fas fa-star"></i></span
          ><span class="rating-positive"><i class="fas fa-star"></i></span
          ><span class="rating-positive"><i class="fas fa-star"></i></span
          ><span><i class="fas fa-star"></i></span
          ><span class="fs-sml card-subtitle">4.0(300)</span>
        </div>
        <div class="fi-btn-container flex-spc-btwn">
          <button class="btn btn-cta light-text-color">Enroll</button>
          <button class="btn btn-outlined">About</button>
        </div>
      </div>
    </div>
    <h3>Horizontal Card</h3>
    <div class="card-container curved-border flex-column">
      <div class="image-container">
        <img
          class="image-resp curved-border-top"
          src="./assets/quincyLarson.jpg"
          alt="Quincy Larson"
        />
        <div class="overlay-wrapper curved-border-top fs-lrg">
          <a href="#" class="btn-icon-outlined"><i class="fas fa-play"></i></a>
        </div>
      </div>
      <div class="text-align-center">
        <h2 class="headline-typography">Getting Started With CSS</h2>
        <h3 class="card-subtitle">By Quincy Larson</h3>
        <div class="rating">
          <span class="rating-positive"><i class="fas fa-star"></i></span
          ><span class="rating-positive"><i class="fas fa-star"></i></span
          ><span class="rating-positive"><i class="fas fa-star"></i></span
          ><span class="rating-positive"><i class="fas fa-star"></i></span
          ><span><i class="fas fa-star"></i></span
          ><span class="fs-sml card-subtitle">4.0(300)</span>
        </div>
        <div class="flex-spc-btwn">
          <button class="btn btn-cta light-text-color">Enroll</button>
          <button class="btn btn-outlined">About</button>
        </div>
      </div>
      <div class="fi-btn-container flex-spc-btwn curved-border-bottom">
        <button>
          <span class="btn-icon-outlined"><i class="fas fa-heart"></i></span>
        </button>
        <button>
          <span class="btn-icon-outlined"><i class="fas fa-bookmark"></i></span>
        </button>
        <button>
          <span class="btn-icon-outlined"><i class="fas fa-share"></i></span>
        </button>
      </div>
    </div>
    <h3>Card with avatar</h3>
    <div class="card-container flex-wrap curved-border">
      <img
        class="image-resp"
        src="https://www.freecodecamp.org/news/content/images/size/w2000/2019/10/css.png"
        alt="free code camp responsive art"
      />
      <div
        class="card-info hover-to-display pos-abs-bottom flex-f-start mob-flex-column"
      >
        <img
          src="./assets/quincyLarson.jpg"
          class="avatar avatar-mdm mob-avatar-xsml"
          alt="Quincy Larson"
        />
        <div class="text-align-left">
          <h3>Getting Started With CSS</h3>
          <p class="card-subtitle">By Quincy Larson</p>
          <div class="fi-btn-container flex-f-start">
            <button class="btn btn-cta light-text-color">Enroll</button>
            <button class="btn btn-outlined">About</button>
          </div>
        </div>
      </div>
    </div>
    <h3>Card with badge</h3>
    <div class="card-container curved-border">
      <div class="card-showcase curved-border">
        <div class="image-container">
          <img
            class="image-resp curved-border-top"
            src="./assets/quincyLarson.jpg"
            alt="Quincy Larson"
          />
          <div class="overlay-wrapper curved-border-top fs-lrg">
            <a href="#" class="btn-icon-outlined"
              ><i class="fas fa-play"></i
            ></a>
          </div>
          <span class="text-badge pos-abs-top-left blip-animation"
            >30% <span class="fs-sml">off</span></span
          >
        </div>
        <div class="fi-btn-container flex-spc-arnd curved-border-bottom">
          <button>
            <span class="btn-icon-outlined"><i class="fas fa-heart"></i></span>
          </button>
          <button>
            <span class="btn-icon-outlined"
              ><i class="fas fa-bookmark"></i
            ></span>
          </button>
          <button>
            <span class="btn-icon-outlined"><i class="fas fa-share"></i></span>
          </button>
        </div>
      </div>
      <div class="card-content">
        <h2 class="headline-typography heading-text-decoration">
          Getting Started With CSS
        </h2>
        <h3 class="card-subtitle">By Quincy Larson</h3>
        <div class="rating">
          <span class="rating-positive"><i class="fas fa-star"></i></span
          ><span class="rating-positive"><i class="fas fa-star"></i></span
          ><span class="rating-positive"><i class="fas fa-star"></i></span
          ><span class="rating-positive"><i class="fas fa-star"></i></span
          ><span><i class="fas fa-star"></i></span
          ><span class="fs-sml card-subtitle">4.0(300)</span>
        </div>
        <div class="fi-btn-container flex-spc-btwn">
          <button class="btn btn-cta light-text-color">Enroll</button>
          <button class="btn btn-outlined">About</button>
        </div>
      </div>
    </div>
    <h3>Card with overlay</h3>
    <div class="card-container curved-border">
      <div class="overlay-wrapper overlay-fix curved-border">
        <p class="alert alert-primary dark-text-color">Offer Expired</p>
      </div>
      <div class="card-showcase curved-border">
        <div class="image-container">
          <img
            class="image-resp curved-border-top"
            src="./assets/quincyLarson.jpg"
            alt="Quincy Larson"
          />
          <div class="overlay-wrapper curved-border-top fs-lrg">
            <a href="#" class="btn-icon-outlined"
              ><i class="fas fa-play"></i
            ></a>
          </div>
          <span class="text-badge pos-abs-top-left"
            >30% <span class="fs-sml">off</span></span
          >
        </div>
        <div class="fi-btn-container flex-spc-arnd curved-border-bottom">
          <button>
            <span class="btn-icon-outlined"><i class="fas fa-heart"></i></span>
          </button>
          <button>
            <span class="btn-icon-outlined"
              ><i class="fas fa-bookmark"></i
            ></span>
          </button>
          <button>
            <span class="btn-icon-outlined"><i class="fas fa-share"></i></span>
          </button>
        </div>
      </div>
      <div class="card-content">
        <h2 class="headline-typography heading-text-decoration">
          Getting Started With CSS
        </h2>
        <h3 class="card-subtitle">By Quincy Larson</h3>
        <div class="rating">
          <span class="rating-positive"><i class="fas fa-star"></i></span
          ><span class="rating-positive"><i class="fas fa-star"></i></span
          ><span class="rating-positive"><i class="fas fa-star"></i></span
          ><span class="rating-positive"><i class="fas fa-star"></i></span
          ><span><i class="fas fa-star"></i></span
          ><span class="fs-sml card-subtitle">4.0(300)</span>
        </div>
        <div class="fi-btn-container flex-spc-btwn">
          <button class="btn btn-cta light-text-color">Enroll</button>
          <button class="btn btn-outlined">About</button>
        </div>
      </div>
    </div>
    <h3>Card with dismiss</h3>
    <div class="card-container curved-border">
      <button
        class="btn btn-outlined btn-sml pos-abs-top-right box-shadow-none red-text-color"
      >
        Close
      </button>
      <div class="card-showcase curved-border">
        <div class="image-container">
          <img
            class="image-resp curved-border-top"
            src="./assets/quincyLarson.jpg"
            alt="Quincy Larson"
          />
          <div class="overlay-wrapper curved-border-top fs-lrg">
            <a href="#" class="btn-icon-outlined"
              ><i class="fas fa-play"></i
            ></a>
          </div>
        </div>
        <div class="fi-btn-container flex-spc-arnd curved-border-bottom">
          <button>
            <span class="btn-icon-outlined"><i class="fas fa-heart"></i></span>
          </button>
          <button>
            <span class="btn-icon-outlined"
              ><i class="fas fa-bookmark"></i
            ></span>
          </button>
          <button>
            <span class="btn-icon-outlined"><i class="fas fa-share"></i></span>
          </button>
        </div>
      </div>
      <div class="card-content">
        <h2 class="headline-typography heading-text-decoration">
          Getting Started With CSS
        </h2>
        <h3 class="card-subtitle">By Quincy Larson</h3>
        <div class="rating">
          <span class="rating-positive"><i class="fas fa-star"></i></span
          ><span class="rating-positive"><i class="fas fa-star"></i></span
          ><span class="rating-positive"><i class="fas fa-star"></i></span
          ><span class="rating-positive"><i class="fas fa-star"></i></span
          ><span><i class="fas fa-star"></i></span
          ><span class="fs-sml card-subtitle">4.0(300)</span>
        </div>
        <div class="fi-btn-container flex-spc-btwn">
          <button class="btn btn-cta light-text-color">Enroll</button>
          <button class="btn btn-outlined">About</button>
        </div>
      </div>
    </div>
    <h3>Text only card</h3>
    <div class="card-container curved-border card-container-text">
      <h2 class="headline-typography heading-text-decoration">
        Getting Started With CSS
      </h2>
      <h3 class="card-subtitle">By Quincy Larson</h3>
      <div class="rating">
        <span class="rating-positive"><i class="fas fa-star"></i></span
        ><span class="rating-positive"><i class="fas fa-star"></i></span
        ><span class="rating-positive"><i class="fas fa-star"></i></span
        ><span class="rating-positive"><i class="fas fa-star"></i></span
        ><span><i class="fas fa-star"></i></span
        ><span class="fs-sml card-subtitle">4.0(300)</span>
      </div>
      <p>
        Without CSS, every web page would be drab plain text and images that
        flowed straight down the page. With CSS, you can add color and
        background images and change the layout of your page — your web pages
        can feel like works of art!
      </p>
      <div class="fi-btn-container flex-f-start">
        <button class="btn btn-cta light-text-color">Enroll</button>
        <button class="btn btn-outlined">About</button>
      </div>
      <div class="fi-btn-container flex-f-end curved-border-bottom">
        <button>
          <span class="btn-icon-outlined"><i class="fas fa-heart"></i></span>
        </button>
        <button>
          <span class="btn-icon-outlined"><i class="fas fa-bookmark"></i></span>
        </button>
        <button>
          <span class="btn-icon-outlined"><i class="fas fa-share"></i></span>
        </button>
      </div>
    </div>
  </body>
</html>
