* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}
body { 
    font: 13px Helvetica, Arial;
    
}

.navbar-brand{
    font-family: 'poppins';
    font-style: normal;
    text-align: center;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
}

.header {
    overflow: hidden;
    background-color: #BB2CD9;
    padding: 20px 10px;
    border-radius: 5px;
  }
.header .appname {
    font-family: 'poppins';
    font-style: normal;
    text-align: center;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
}

/* Chat  */


.chat-messages {
	padding: 30px;
	max-height: 500px;
	overflow-y: scroll;
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: #eeebe3;
	border-radius: 5px;
}





form { 
    padding: 3px; 
    position: fixed; 
    bottom: 0; 
    width: 100%; 
}
form input { 
    border: 0.5px solid #45CE30; 
    border-radius: 5px;
    padding: 10px; 
    width: 90%; 
    margin-right: 0.5%; 
    
}
form button { 
    width: 9%; 
    background: #FAD02E; 
    border: none; 
    padding: 10px;
    border-radius: 5px;
    color: #2C3335; 
}
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }