@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap");

:root {
  --color1: rgb(244, 217, 60);
  --color2: rgb(51, 51, 51);
  --color3: rgb(33, 44, 197);
}

body {
  font-family: "Kalam";
  margin: 0%;
  background-size: 30% 82%;
  background-repeat: no-repeat;
  background-image: url(/images/minion\ backgrd.jpg);
}

.nav h1 {
  background-color: var(--color1);
  color: var(--color3);
  text-align: center;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding: 1rem;
  font-size: 3rem;
}

main {
  margin: auto;
  padding: 1rem;
  max-width: 600px;
  display: block;
  /* background-image: url(D:\GitHub\Translator\images\minion-1.jpg); */
}

textarea {
  display: block;
  font-family: "Kalam";
  /* margin: 1rem; */
  padding: 20px;
  width: 100%;
  height: 7rem;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: large;
}

button {
  font-size: larger;
  font-family: "Kalam";
  background-color: var(--color1);
  color: var(--color3);
  font-weight: bold;
  border-width: 0px;
  border-radius: 1rem;
  padding: 1rem;
  align-items: center;
}

.txt-output {
  /* font-size: larger; */
  margin: 1rem 0rem;
  font-size: larger;
}

#txtoutput {
  border: 0.1rem solid black;
  width: 100%;
  height: 7rem;
  margin: 1rem 0rem;
  padding: 20px;
  font-size: large;
}
footer {
  background-color: var(--color1);
  text-align: center;
  padding: 0.3rem 0rem;
  margin: 0.3rem 0 rem;
}

footer p {
  max-width: 600px;
  margin: 1rem 1rem;
  font-size: medium;
  display: inline-block;
  text-align: center;
}

img {
  width: 5.5%;
}
