.Your-Name {
  padding: 7% 15%;
  background-color: #e94560;
  text-align: center;
}

.Vansh-Goel {
  padding: 7% 15%;
  background-color: #faf4b7;
  text-align: center;
}

#Vansh-Goel {
  font-family: "Sacramento";
}

#Vansh-Goel-Para {
  font-family: "Montserrat";
  line-height: 2;
}

.twt {
  padding-top: 10px;
  width: 20px;
}

.Harshvardhan-Sharma {
  text-align: center;
  padding: 7% 15%;
  background-color: #b7facd;
}
#Harshvardhan-Sharma {
  font-family: "Sacramento";
}



#Harshvardhan-Sharma-Para {
  font-family: "Montserrat";
  line-height: 2;
}

.Aditi-Bendre {
  padding: 7% 15%;
  background-color: rgba(134, 232, 119, 0.973);
  text-align: center;
}

#Aditi-Bendre {
  font-family: "Sacramento";
}

#Aditi-Bendre {
  font-family: "Montserrat";
  line-height: 2;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  align-items: center;
}
.github {
  padding-top: 10px;
  width: 20px;
}

.Chirag-Khatri {
  padding: 7% 15%;
  background-color: #faf4b7;
  text-align: center;
}

#Chirag-Khatri {
  font-family: "Sacramento";
}

#Chirag-Khatri-Para {
  font-family: "Montserrat";
  line-height: 2;
}

.Lea-Guedj {
  padding: 7% 15%;
  background-color: rgb(235, 89, 133);
  text-align: center;
}

#Lea-Guedj {
  font-family: "Sacramento";
}

#Lea-Guedj {
  font-family: "Montserrat";
  line-height: 2;
}

.twt {
  padding-top: 10px;
  width: 20px;
}
.Om-Sarraf {
  padding: 7% 15%;
  background-color: rgba(134, 232, 119, 0.973);
  text-align: center;
}

#Om-Sarraf {
  font-family: "Sacramento";
}

#Om-Sarraf {
  font-family: "Montserrat";
  line-height: 2;
}

.SEC-markus-eicher {
  padding: 7% 15%;
  background-color: rgb(55, 64, 192);
  text-align: center;
}

#H1-markus-eicher {
  font-family: "Montserrat";
  color: white;
}

.P-markus-eicher {
  color: white;
  text-align: center;
}

#mke-twt {
  padding-top: 10px;
  width: 20px;
}

.jayneelliott {
    padding: 7% 15%;
    background-color: rgb(200, 55, 142);
    text-align: center;
    color:rgb(41, 9, 74)
}

.jayneelliott-Para {
    color:rgb(22, 64, 5);
    font-weight: 700
}


.rachit{
    padding: 7% 15%;
    background-color: #eaf6f6;
    font-family: 'Sacramento', sans-serif;
    text-align: center;
}
.rachit-para{
    font-family: 'Montserrat';
    line-height: 2;
    margin: 2px auto 16px auto;
    width: 85%;
}
.aman{
  padding: 7% 15%;
  background-color: aquamarine;
  font-family: "Sacramento";
  text-align: center;
}
.aman-Para{
  font-family: "Montserrat";
  line-height: 2;
}
.Sanjay-Sathyanarayanan {
  padding: 7% 15%;
  background-color: #85F4FF;
  text-align: center;
}

#Sanjay-Sathyanarayanan {
  font-family: "Sacramento";
}

.Sanjay-Sathyanarayanan-Para {
  font-family: "Montserrat";
  line-height: 2;
}

.twt {
  padding-top: 10px;
  width: 20px;
}

.Ishika-Ishani{
  text-align: center;
  padding: 7% 15%;
  background-color: rgb(115, 199, 251);
  
}

#Ishika-Ishani{
  font-family: "Sacramento";
}

#Ishika-Ishani-Para{
  font-family: "Montserrat";
  line-height: 2;
}
.socials{
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  align-items: center;
}
.github{
  padding-top: 10px;
  width: 20px;

}
.dhruvi
{font-family: 'Sacramento';
    background-color: lightblue;
    text-align: center;
    font-size: 52px;
}

.footer {
  padding: 7% 15%;
  background-color: black;
}
