<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./source/avatar.css" />
    <script
      src="https://kit.fontawesome.com/6f74bb313d.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <h3>Avatar</h3>
    <div class="avatar-container">
      <img
        src="./assets/dan-abramov.jpg"
        class="avatar avatar-lrg"
        alt="Dan Abramov"
      />
      <img
        src="./assets/dan-abramov.jpg"
        class="avatar avatar-mdm"
        alt="Dan Abramov"
      />
      <img
        src="./assets/dan-abramov.jpg"
        class="avatar avatar-sml"
        alt="Dan Abramov"
      />
      <img
        src="./assets/dan-abramov.jpg"
        class="avatar avatar-xsml"
        alt="Dan Abramov"
      />
    </div>

    <h3>Avatar Text</h3>
    <div class="avatar-container">
      <div class="avatar avatar-lrg avatar-text">
        <p>Lorem ipsum dolor sit amet</p>
      </div>
      <div class="avatar avatar-mdm avatar-text">
        <p>Lorem ipsum dolor sit amet</p>
      </div>
      <div class="avatar avatar-sml avatar-text">
        <p>Lorem ipsum dolor sit amet</p>
      </div>
      <div class="avatar avatar-xsml avatar-text">Lorem ipsum</div>
    </div>

    <h3>Avatar Overlay</h3>
    <div class="avatar-container">
      <div class="avatar avatar-mdm avatar-wrapper">
        <div class="overlay-wrapper">
          <a class="temp-cta-color" href="#"><i class="fab fa-twitter"></i></a>
        </div>
        <img class="" src="./assets/dan-abramov.jpg" alt="Dan Abramov" />
      </div>

      <div class="avatar avatar-mdm avatar-wrapper">
        <div class="overlay-wrapper"><p>Dan Abramov</p></div>
        <img src="./assets/dan-abramov.jpg" alt="Dan Abramov" />
      </div>
    </div>

    <h1>Badges</h1>

    <h3>Status</h3>

    <div class="avatar-container">
      <div class="avatar avatar-lrg avatar-wrapper">
        <img src="./assets/dan-abramov.jpg" alt="Dan Abramov" />
        <div class="badge badge-status badge-status-online"></div>
      </div>
      <div class="avatar avatar-mdm avatar-wrapper">
        <img src="./assets/dan-abramov.jpg" alt="Dan Abramov" />
        <div class="badge badge-status badge-status-dnd"></div>
      </div>
      <div class="avatar avatar-sml avatar-wrapper">
        <img src="./assets/dan-abramov.jpg" alt="Dan Abramov" />
        <div class="badge badge-status badge-status-offline"></div>
      </div>
      <span class="icon-wrapper"
        ><i class="fas fa-bell"></i
        ><span class="badge badge-notification">99</span></span
      >
    </div>
  </body>

  <script src="./source/main.js"></script>
</html>
