body {
    background-color: #d8f8ff;
    font-family: sans-serif;
    margin: 50px;
}

#counter-value {
    padding: 40px 0;
    margin: 50px 0;
    background-image: linear-gradient(45deg, #a4f2f2, #efa7d7);
    text-align: center;
}

#counter-value p {
    color:white;
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 0.5rem;
    word-spacing: 1rem;
}

#input-range {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

#input-range input {
    padding: 10px;
    width: 30%;
    font-size: 1rem;
}

#input-range button {
    padding: 10px 15px;
    font-size: 1rem;
    border: none;
    box-shadow: 0px 5px 20px white;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}




#counter-container {
    background-color: #555555;
    height: 200px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.counter {
    display: inline-block;
    background-color: aliceblue;
    width: 15%;
    max-width: 80px;
    height: 80px;
    margin: auto 10px;
    box-shadow: 0px 0px 5px white;
    position: relative;
    overflow: hidden;
}

.counter p {
    font-size: 3rem;
    text-align: center;
    margin: 0;
    width: 100%;
    line-height: 80px;
    border-top: 2px solid black;
    background-color: aliceblue;
}

p.next {
    position: absolute;
    top: 80px;
}

p.animate {
    transition-duration: 0.5s;
    top: 0px;
}
