.Book_container {
  display: flex;
}

.light {
  div {
    h1,
    strong {
      p {
        color: rgb(58, 54, 54);
      }
    }
  }
}

.Book_div {
  h1 {
    margin-top: 10px;
    display: flex;

    p {
      color: aqua;
    }
  }
  padding: 0 20px;
  strong {
    display: flex;
    margin-top: 10px;

    p {
      color: aqua;
    }
  }
  h2 {
    margin: 10px 0;
  }
  hr {
    margin: 10px 0;
    border-top: none;
  }
}
